html {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../images/background.jpg");
    background-image: no-repeat;
    background-size: cover;
  }


body {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    border: 3px solid black;
}

img {
    display: block;
    margin: 0 auto;
  }

h1 {
	text-align: center;
	margin: 0 auto;
    padding: 60px 0;    
	color: black;
	font-size: 30px;
  }

h2 {
	text-align: left;
	margin: 0 auto;
    padding: 20px 0;    
	color: black;
	font-size: 20px;
}

p {
	padding: 0 20px;
}

address {
	padding: 20px 20px;
}

ul.navigation-top{
	list-style-type: none;
	position: fixed;
	top: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;
	background-color: #333;
	
}

ul.navigation-top li {
	float: left;
}

ul.navigation-top li a{
	display: block;
	color: white;
	text-align: center;
	margin: 0 0;
	padding: 14px 72.59px;
	text-decoration: none;
	font-size: 18px;
}


ul.navigation-top li a:hover{
	background-color: #111;
}

ul.project-list {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	width: 200px;
  	background-color: #f1f1f1;
}

ul.project-list h2{
	padding: 20px 20px;
}

ul.project-list li a {
	display: block;
  	color: #000;
  	padding: 8px 16px;
 	text-decoration: none;
}

ul.project-list li a:hover {
	background-color: #555;
	color: white;
}


  